pipeline/Rebrickable_API.json
{
	"name": "Rebrickable_API",
	"properties": {
		"activities": [
			{
				"name": "Copy minifigs from Rebrickable API",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Rebrickable API from key vault",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:01.000",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('key ', activity('Get Rebrickable API from key vault').output.value)",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.next"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "MinifigsREST_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "MinifigsJSON_DS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Rebrickable API from key vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://deproj1-kv.vault.azure.net/secrets/Rebrickable-API-Key-Value?api-version=7.5",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-01-05T14:19:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}